</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->

  <p>Copyright © <%= year %></p>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</footer>
</body>

</html>