body, .sugestão {
  background: #1E201E;
  color: #b1a3d8;
  opacity: 100%;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}


main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.pene{
  padding: 1%;
  border-radius: 5%;
  overflow: hidden;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

.sugestão{
  font-size: 1.5rem;
  background-color: #1e2020;
  border-radius: 5%;
  margin-top: 5%;
  opacity: 50%;
  transition: transform 1s, background-color 1s, opacity 1s;
}
.sugestão:hover{
  transform: translateY(-0.5em);
  background-color: #333833;
  opacity: 100%;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
}
